:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --third-family: "Rubik", sans-serif;

  --text-violet-dark: #212353;
  --text-gray-dark: #4b5d68;
  --colors-violet: #9c69e2;
  --colors-violet-middle: #8a40ee;
  --colors-pink: #f063b8;
  --colors-pink-middle: #eb4bab;
  --colors-green-light: #f0faf9;
  --colors-violet-light: #f6f0fd;
  --colors-pink-light: #fef0f8;
  --colors-blue-light: #eaf6fc;
  --colors-pink-medium: #fde8f5;
  --colors-blue-medium: #cdf;
  --colors-blue-facebook: #3b5998;
  --colors-blue-twitter: #00acee;
  --colors-pink-instagram: #c13584;
}

body {
  margin: 0;
  padding: 0;

  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
  width: 1170px;
  width: auto;
  height: 100px;
  gap: 120px;

  .logo-nav {
    display: flex;
    max-width: 512px;
    width: auto;
    height: 35px;
    gap: 120px;

    .logo {
      width: 45;
      height: 36;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 40px;
      max-width: 348px;
      width: auto;
      width: auto;
      height: 26px;

      ul {
        display: flex;
        align-items: center;

        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        margin: 0;
        padding: 0;

        li {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          color: var(--text-gray-dark);
          list-style: none;

          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              color: var(--colors-violet-middle);
            }
          }
        }
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    border: 1px solid var(--colors-violet);
    border-radius: 50px;
    width: 210px;
    height: 60px;
    box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
    background: #fff;
    cursor: pointer;

    span {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: var(--text-violet-dark);
      cursor: pointer;
    }
  }
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 489px;
  margin-top: 100px;

  .hero-content {
    max-width: 50%;
    width: auto;
    height: 100%;



    h1 {
      font-family: var(--second-family);
      font-weight: 700;
      width: 601px;
      font-size: 80px;
      line-height: 110%;
      color: var(--text-violet-dark);
      margin: 0;
      padding-bottom: 50px;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: var(--text-gray-dark);
      margin: 0;
      padding-bottom: 50px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 15px;
      border: 1px solid var(--colors-violet);
      background-color: var(--colors-violet);
      border-radius: 50px;
      width: 210px;
      height: 60px;
      cursor: pointer;
      font-weight: 600;
      font-size: 18px;
      margin: 0;

      span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #fff;
      }
    }
  }


  .hero-image {
    display: flex;
    margin-left: -200px;
    margin-top: 80px;

    img {
      width: 770px;
      height: auto;
      z-index: -1;

    }
  }
}


.high-level {
  width: auto;
  height: 560px;
  padding-bottom: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--colors-pink-medium);
  border-radius: 50px;
  margin-top: 100px;
  justify-content: space-around;

  margin-bottom: 120px;
  gap: 130px;
  padding: 35px 30px 35px 30px;

  img {
    width: 400px;
    height: 410px;
  }

  .high-level-content {
    align-items: center;
    justify-content: center;
    width: 500px;
    width: auto;
    height: 340px;

    h2 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      color: var(--text-violet-dark);
      margin: 0;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      max-width: 500px;
      line-height: 160%;
      color: var(--text-gray-dark);
    }
  }
}


.features {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    max-width: 638px;
    text-align: center;
    margin-bottom: 60px;

    h2 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      color: var(--text-violet-dark);

    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: var(--text-gray-dark);
      margin-top: 20px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    width: 100%;
    max-width: 1170px;

    .card {
      position: relative;
      display: flex;
      align-items: flex-start;

      .card-image {
        position: absolute;
        left: 30px;
        top: 144px;

        img {
          width: 200px;
          height: auto;
        }
      }

      .card-content {
        /* как сделать 
        width: 230px;
        height: 276px; */
        margin-left: 160px;
        background: #fff;
        border-radius: 30px;
        padding: 40px;
        width: 100%;
        max-width: 460px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
        padding: 62px 70px 62px 100px;


        h3 {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;
          color: var(--text-violet-dark);
          margin: 0;
        }

        p {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: var(--text-gray-dark);
          max-width: 260px;
          margin: 0;
        }

        .learn-more {
          width: 137px;
          height: 26px;
          display: flex;

        }

        button {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.01em;
          color: var(--text-violet-dark);
          background: none;
          border: none;
          cursor: pointer;
          align-self: flex-start;
          position: relative;
          margin: 0;

          &:hover {
            color: var(--colors-violet-middle);
          }
        }

        img {
          padding-top: 8px;
          width: 20px;
          height: 14px;
        }
      }


      .green {
        background: var(--colors-green-light);
      }

      .violet {
        background: var(--colors-violet-light);
      }

      .pink {
        background: var(--colors-pink-light);
      }

      .blue {
        background: var(--colors-blue-light);
      }
    }
  }
}



.testimonials {
  width: 1172px;
  width: auto;
  height: 580px;


  display: flex;
  flex-direction: column;
  background-color: #CCDEFF;
  border-radius: 50px;


  h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    margin-top: -500px;
    /* не уверен как правильно было поднять заголовок  */
    color: var(--text-gray-dark);
  }

  .review-cards {
    margin: 0 auto;
    width: 1030px;
    padding-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;


    .john {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 15px;
      border: 1px solid var(--colors-violet);
      border-radius: 50px;
      padding: 50px 30px;
      width: 465px;
      height: 200px;
      box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
      background: #fff;

      img {
        width: 90px;
        height: 90px;


        .text-test {
          width: 300px;
          height: 200px;

          h3 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-violet-dark);
          }

          a {
            
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: var(--colors-violet);
            text-decoration: none ;
            /* не работает  */
          }
          

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-gray-dark);
          }
        }
      }

    }

    .hanna {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 15px;
      border: 1px solid var(--colors-violet);
      border-radius: 50px;
      padding: 50px 30px;
      width: 465px;
      height: 200px;
      box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
      background: #fff;

      img {
        width: 90px;
        height: 90px;

        .text-test {
          width: 300px;
          height: 200px;

          h3 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-violet-dark);
          }

          a {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: var(--colors-violet);
            text-decoration: none;
          }

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-gray-dark);
          }
        }

      }
    }
  }
}


footer {
  width: auto;
  height: 570px;
  padding-top: 120px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    max-width: 1170px;
    padding-bottom: 100px;

    .text-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: var(--text-violet-dark);
        margin: 0;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: var(--text-gray-dark);
        margin: 0;
      }
    }

    .button-block {
      display: flex;
      gap: 20px;

      .learn,
      .request {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 50px;
        width: 210px;
        height: 60px;
        box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
        font-family: var(--font-family);
        font-size: 16px;
        cursor: pointer;
      }

      .learn {
        background: var(--colors-pink);
        border: 1px solid var(--colors-pink);
        color: white;
      }

      .request {
        background: #fff;
        border: 1px solid var(--colors-violet);
        color: var(--colors-violet);
      }
    }

  }

  .navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    max-width: 1170px;
    width: auto;
    height: 240px;

    .contacts {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 60px;
      width: 300px;
      height: 231px;
      padding-right: 169px;

      .logo {
        width: 249px;
        height: 35px;
        display: flex;

        img {
          width: 49px;
          height: 36px;
        }

        h3 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 20px;
          line-height: 160%;
          color: var(--text-violet-dark);
          padding-left: 20px;
          margin: 0;
        }
      }

      .info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        width: 275px;
        height: 136px;

        .address {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 16px;
          line-height: 180%;
          letter-spacing: 0.01em;
          color: var(--text-violet-dark);
          margin: 0;

        }

        p {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 180%;
          letter-spacing: 0.01em;
          color: var(--text-violet-dark);
          margin: 0;
        }
      }
    }

    .footer-nav {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 168px;
      width: 670px;
      height: 240px;


      .about {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
        width: 81px;
        height: 204px;

        h3 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          color: var(--text-violet-dark);
          margin: 0;
          padding-top: 4px;
        }

        .menu-list {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 10px;
          width: 81px;
          height: 134px;

          a {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-gray-dark);
            text-decoration: none;

            &:hover {
              color: var(--colors-violet-middle);
            }

          }


        }
      }

      .help {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
        width: 71px;
        height: 240px;

        h3 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          color: var(--text-violet-dark);
          margin: 0;
          padding-top: 4px;
        }

        .menu-list {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 10px;
          width: 71px;
          height: 170px;

          a {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: var(--text-gray-dark);
            text-decoration: none;

            &:hover {
              color: var(--colors-violet-middle);
            }
          }
        }
      }

      .social-media {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;

        width: 180px;
        height: 120px;

        h3 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          color: var(--text-violet-dark);
          margin: 0;
          padding-top: 4px;
        }

        .menu-list {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: row;
          gap: 10px;
          width: 180px;
          height: 50px;
        }
      }

      p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: var(--text-violet-dark);
      }
    }


  }

  .p-data {
    padding-top: 100px;

    padding-bottom: 100px;

    p {

      font-family: var(--font-family);
      font-weight: 300;
      font-size: 12px;
      line-height: 180%;
      letter-spacing: 0.01em;
      color: var(--text-violet-dark);
    }
  }

}